<% @events.order(start_time: :asc).each do |event| %>
<tr>
  <td><%= event.start_time.strftime('%m/%d %H %A')%></td>
  <td><%= render_shift(event)%></td>
  <td><%= highlight event.all_slacks, params[:slack]%></td>
      <% if current_user && current_user.admin? %>
      <td><%= link_to "Delete", event_path(event), method: :delete, :data=>{ :confirm =>"Are you sure?"} %></td>
      <% end %>
    </td>
  </tr>
  <% end %>
